RewriteEngine On
RewriteCond %{index.php} !-f

RewriteRule ^change-password/([a-zA-Z0-9-]*)/([a-zA-Z0-9-]*)$ change-password.php?selector=$1&validator=$2 [NC,L]

#RewriteRule ^order-details/([a-zA-Z0-9-]*)$ order-details.php?order_id=$1 [NC,L]
#RewriteRule ^details/([a-zA-Z0-9-]*)$ details.php?pro_slug=$1 [NC,L]
RewriteRule ^review/([0-9-]*)/([a-zA-Z0-9-]*)$ review.php?order_detail_id=$1&product_id=$2 [NC,L]
RewriteRule ^post/([a-zA-Z0-9-]*)$ post.php?post_slug=$1 [NC,L]
RewriteRule ^post-details/([a-zA-Z0-9-]*)$ post-details.php?post_id=$1 [NC,L]
RewriteRule ^logout/([a-zA-Z0-9-]*)$ logout.php?cmr_id=$1 [NC,L]
#ErrorDocument 404 /404

RewriteRule ^([^\.]+)$ $1.php [NC,L]
